apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
data:
  MYSQL_ROOT_PASSWORD: cGFzc3dvcmQ=    # root password
  MYSQL_DATABASE: c3R1ZGVudGRi          # studentdb
  MYSQL_USER: dXNlcg==                  # user
  MYSQL_PASSWORD: cGFzc3dvcmQ=          # password

